<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Laat.io - $title$</title>
    <link href="//fonts.googleapis.com/css?family=EB+Garamond:400" rel="stylesheet" type="text/css">

      <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet" />
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
      <div class="header clearfix">
        <div class="logo">laat.io</div>
        <nav class="icon-menu">
          <ul>
            <li><a href="/"><i class="fa fa-home fa-lg fa-fw"></i>Home</a></li>
            <li><a href="/archive.html"><i class="fa fa-pencil fa-lg fa-fw"></i>Posts</a></li>
            <!--<li><a href="/rss.xml"><i class="fa fa-rss fa-lg fa-fw"></i>RSS</a></li>-->
          </ul>
        </nav>
      </div>
      <div id="content">
        <h1>$title$</h1>
        $body$
      </div>
      <footer class="clearfix">
        <div class="icon-menu">
          <ul>
            <li><a href="https://github.com/laat/" rel="me"><i class="fa fa-github fa-lg fa-fw"></i>Github</a></li>
            <li><a href="https://twitter.com/fosseng" rel="me"><i class="fa fa-twitter fa-lg fa-fw"></i>Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/sigurdfosseng"><i class="fa fa-linkedin fa-lg fa-fw"></i>LinkedIn</a></li>
            <!--<li><a href="/cv.html"><i class="fa fa-certificate fa-lg fa-fw"></i>CV</a></li>-->
          </ul>
        </div>
      </footer>
      $if(math)$
      <script type="text/javascript" src="//cdn.mathjax.org/mathjax/2.3-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" />
      $endif$
      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
    </body>
  </html>
